body {
  background-color: rgb(0, 0, 0);
}

li {
  list-style: none;
}

ul {
  padding: 0;
  overflow: scroll;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
}

.app {
  text-align: center;
  background-color: rgb(59, 55, 55);
  width: 500px;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 7px 6px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 7px 6px 15px 5px rgba(0, 0, 0, 0);
}

header {
  background: rgb(17, 154, 208);
  background: rgb(0, 3, 162);
  background: linear-gradient(
    90deg,
    rgba(0, 3, 162, 1) 34%,
    rgba(171, 0, 0, 1) 66%
  );
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 20px 20px 0 0;
}

.items {
  height: 700px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 8px 20px;
  font-size: 40px;
}

.item__delete {
  font-size: 40px;
  transition: all 300ms ease;
}

.item__delete:hover {
  transform: scale(1.1);
  color: brown;
}

.devider {
  width: 90%;
  height: 1px;
  background-color: rgb(251, 251, 251);
  margin: auto;
  opacity: 80%;
}

.footer {
  background: rgb(17, 154, 208);
  background: rgb(0, 3, 162);
  background: linear-gradient(
    90deg,
    rgba(0, 3, 162, 1) 34%,
    rgba(171, 0, 0, 1) 66%
  );
  border-radius: 0 0 20px 20px;
}

.footer__input {
  width: 468px;
  font-size: 32px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 16px;
  background-color: #80c7ff;
}

.footer__button {
  font-size: 32px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  margin: 8px;
  transition: all 300ms ease;
}

.footer__button:hover {
  transform: scale(1.1);
}

.fa-plus {
  margin-left: 2px;
  margin-top: 2px;
}
